<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no,address=no,email=no,date=no,url=no">
  <meta name="color-scheme" content="light">
  <meta name="supported-color-schemes" content="light">
  <title>Code de validation / Validation code</title>
</head>
<style>
  /* Some resets and issue fixes */
  #outlook a {
    padding: 0;
  }

  body {
    width: 100% !important;
    -webkit-text;
    size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
  }

  .ReadMsgBody {
    width: 100%;
  }

  .ExternalClass {
    width: 100%;
  }

  .backgroundTable {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    !important;
  }

  table td {
    border-collapse: collapse;
  }

  .ExternalClass * {
    line-height: 115%;
  }

  /* End reset */
</style>

<body style="margin: 0; padding: 0 !important; background-color: #F2F2F2;">
  <div class="main-container" style="width: 90%;background-color: #FAFAFA;padding: 4rem;">
    <div class="hub-message-card"
      style="padding: 2rem;background: #490F9C;max-width: 1000px;min-height: 200px;margin: 0 auto;box-sizing: border-box;box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);border-radius: 24px;">
      <h2
        style="font-family: Arial, sans-serif;font-style: normal;font-weight: 600;font-size: 1.4rem;line-height: 1;color: #fff;">
        Votre code de validation est</h2>
      <h1
        style="font-family: Arial, sans-serif;font-style: normal;font-weight: 600;font-size: 7rem;line-height: 30%;color: #FFFFFF;">
        {{code}}</h1>
      <p
        style="font-family: Arial, sans-serif;font-style: normal;font-weight: 400;font-size: 1rem;line-height: 100%;color: #ffffff;">

        Si vous ne vous êtes pas inscrit, veuillez ignorer ce message.
      </p>

    </div>
    <!-- Footer: BEGIN -->
    <div class="footer" style="padding: 4rem;max-width: 1000px;min-height: 200px;text-align: center;margin: 1rem auto;">
      <p
        style="font-family: Arial, sans-serif;font-style: normal;font-weight: 400;font-size: 0.8rem;line-height: 100%;color: #6C6CAC;">
        Ceci est un message automatisé. Veuillez ne pas répondre à cet e-mail. / This is an automated message. Please do
        not reply to this email.</p>

    </div>
    <!-- Footer: END -->
  </div>
</body>

</html>
